<div class="app">

    <div class="app__header">
        <div class="app__header__logo">
            <img ngSrc="assets/images/xh-logo-512x512.png" alt="logo" height="100" width="100" priority>
        </div>
        <div class="app__header__title">
            NgRx Signal Store Exercise
        </div>
        <div class="app__header__link">
            <a href="https://xhandl.com">xhandl.com</a>
        </div>

        <h2>{{ store.auth.user.name() }}</h2>
    </div>

    @if (!store.loading()) {
        <todos-list/>
    } @else {
        <mat-spinner/>
    }

</div>
